aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.2.post1
asgiref==3.7.2
async-timeout==5.0.1
attrs==24.2.0
beautifulsoup4==4.13.4
boto3==1.40.16
botocore==1.40.16
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
contourpy==1.3.0
crispy-bootstrap5==2024.2
cryptography==41.0.6
cycler==0.12.1
defusedxml==0.7.1
distro==1.9.0
Django==4.2.7
django-crispy-forms==2.3
django-environ==0.12.0
django-extensions==3.2.3
django-filter==23.2
django-storages==1.14.6
django-taggit==4.0.0
djangorestframework==3.14.0
et-xmlfile==1.1.0
exceptiongroup==1.2.2
feedparser==6.0.11
fonttools==4.57.0
frozendict==2.4.6
frozenlist==1.5.0
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.0
idna==3.4
importlib-metadata==6.8.0
importlib_resources==6.5.2
jiter==0.8.0
jmespath==1.0.1
kiwisolver==1.4.7
Markdown==3.4.3
matplotlib==3.9.4
multidict==6.1.0
multitasking==0.0.11
mysql-connector-python==9.0.0
mysqlclient==1.4.6
numpy==2.0.2
oauthlib==3.2.2
openai==1.57.0
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
peewee==3.17.9
pillow==10.4.0
platformdirs==4.3.7
propcache==0.2.1
pycparser==2.21
pydantic==2.10.2
pydantic_core==2.27.1
PyJWT==2.7.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.3.1
s3transfer==0.13.1
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.1
social-auth-app-django==5.2.0
social-auth-core==4.4.2
soupsieve==2.6
sqlparse==0.4.4
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
yarl==1.18.3
yfinance==0.2.55
zipp==3.15.0
