# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django database
*.sqlite3
db.sqlite3
zip.sqlite3

# Environment files
.env

# Virtual environment
venv/
env/
ENV/

# Static files (collected)
staticfiles/

# IDE/editor folders
.vscode/
.idea/

# System files
.DS_Store

django4/
settings.py
